  /* https://coolors.co/3a4244-c2b18b-ffffff-6d7b82-0e71a5*/
:root {
  --primary-color: #ffffff;
  --secondary-color: #3a4244;
  --accent1-color: #0e71a5;
  --accent2-color: #c2b18b;
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --nav-background-color: #ffffff;
  --nav-link-color: #c2b18b;
  --nav-hover-link-color: #0e71a5;
  --nav-hover-background-color: #3a4244;
}

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,400;0,500;0,900;1,500&display=swap');

html{
    background-color: var(--white);
    color: var(--outer-space);
}
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
  }
header {
    padding: 20px;
    background-color: var(--primary-color);
}
p{
    padding: 25px;
    text-align: justify;
}
  
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--navigation-background-color);
    padding: 1rem;
  }
  
nav a {
    color: var(--navigation-link-color);
    text-decoration: none;
    margin: 0 0.5rem;
}

nav a:link, nav a:visited{
  color: var(--nav-link-color)
}

nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}
footer{
  margin-top: 1em;
  text-align: center;
}