*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Class Selectors*/

.box{
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial Narrow Bold', sans-serif;
}

a{
  font-family: 'Arial Narrow Bold', sans-serif;
}

nav {
  background-color: #333;
  display: flex;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  justify-content: flex-start;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
  
nav a:hover {
  background-color: #555;
}
  
nav a:first-child {
  margin-left: 0;
}
  
nav a:last-child {
  margin-right: 0;
}
  
main{
  max-width: 840px;
}

main img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  float: right;
}
  
aside{
  position: relative;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em;
  background-color: #eee;
  color: #333;
  text-align: center;
  width: 20em;
}

aside img{
  width: 200px;
  height: auto;
}

aside h2{
  position: absolute;
  top: 47px;
  left: 150px;
}

main img{
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}

footer{
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}